@{
    ViewData["Title"] = "Home Page";
}
@model List<Cinemateque.Models.FilmViewModel>
<h2 id="favorites"></h2>

<div id="maybe">
    <h2>Search</h2>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" id="nameSearch" aria-describedby="nameSearch" placeholder="Search by name">
    </div>
    <div class="form-group">
        <label>Genre</label>
        <input class="form-control" id="genreSearch" aria-describedby="genreSearch" placeholder="Search by genre">
    </div>
    <div class="form-group">
        <label>Actors</label>
        <input class="form-control" id="actorSearch" aria-describedby="actorsSearch" placeholder="Search by actor">
    </div>
    <div class="form-group">
        <label>Director</label>
        <input class="form-control" id="directorSearch" aria-describedby="directorSearch" placeholder="Search by directir">
    </div>
    <button onclick="searchFilm()" class="btn btn-primary">Search</button>
    <a asp-controller="Home" asp-action="GetSuggestion" class="btn btn-primary">GetSuggestion</a>
    <a onclick="getFavorites()" class="btn btn-primary">GetFavorites</a>
    <h2>Statistics</h2>
    <div class="dropdown">
        <button style="width:80%" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Statistics
        </button>
       
    </div>

    <script src="~/js/filmScripts.js"></script>
</div>

<div class="card" id="bestActor" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Actor</h5>
        <p id="bestActorName" class="card-text"></p>
        <p id="bestActorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="topActor" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Top Rated Actor</h5>
        <p id="topActorName" class="card-text"></p>
        <p id="topActorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="bestDirector" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Director</h5>
        <p id="bestDirectorName" class="card-text"></p>
        <p id="bestDirectorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="topDirector" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Top Rated Director</h5>
        <p id="topDirectorName" class="card-text"></p>
        <p id="topDirectorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="popularGenre" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Genre</h5>
        <p id="popularGenreName" class="card-text"></p>
    </div>
</div>

<div class="card" id="topReward" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Prestigious Reward</h5>
        <p id="topRewardName" class="card-text"></p>
    </div>
</div>

<div class="card" id="activeUser" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Active User</h5>
        <p id="activeUserName" class="card-text"></p>
    </div>
</div>