@{
    ViewData["Title"] = "Home Page";
}
@model SearchModel
<h2 id="favorites"></h2>

    <div id="maybe">
        <h2>Search</h2>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" id="nameSearch" aria-describedby="nameSearch" placeholder="Search by name">
        </div>
        <div class="form-group">
            <label>Genre</label>
            <input class="form-control" id="genreSearch" aria-describedby="genreSearch" placeholder="Search by genre">
        </div>
        <div class="form-group">
            <label>Actors</label>
            <input class="form-control" id="actorSearch" aria-describedby="actorsSearch" placeholder="Search by actor">
        </div>
        <div class="form-group">
            <label>Director</label>
            <input class="form-control" id="directorSearch" aria-describedby="directorSearch" placeholder="Search by directir">
        </div>
        <button onclick="searchFilm()" class="btn btn-primary">Search</button>
        <a asp-controller="Home" asp-action="GetSuggestion" class="btn btn-primary">GetSuggestion</a>
        <a onclick="getFavorites()" class="btn btn-primary">GetFavorites</a>
        <h2>Statistics</h2>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Statistics
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form action="" method="post" >
                    <input asp-for="Date" type="date" class="form-control dropdown-item" id="startDate" placeholder="StartDate">

                    <ul>
                        <li> <a onclick="getTopActor()" class="dropdown-item">GetTopRatedActor</a>                                                      </li>
                        <li> <a onclick="getBestActor()" class="dropdown-item">GetBestActor</a>                                                         </li>
                        <li> <a onclick="getBestDirector()" class="dropdown-item">GetBestDirector</a>                                                   </li>
                        <li> <a onclick="getTopDirector()" class="dropdown-item">GetTopRatedDiretcor</a>                                                </li>
                        <li> <a name="action:GetBestFilm" class="dropdown-item">GetTopRatedFilm</a>                            </li>
                        <li> <a asp-controller="Home" asp-action="GetBestFilm" class="dropdown-item">GetBestFilm</a>          </li>
                        <li> <a asp-controller="Home" asp-action="GetAwardedFilm" class="dropdown-item">GetAwardedFilm</a>   </li>
                        <li> <a onclick="getPopGenre()" class="dropdown-item">GetMostPopularGenre</a>                                                   </li>
                        <li> <a onclick="getTopReward()" class="dropdown-item">GetTopReward</a>                                                         </li>
                        <li> <a onclick="getActiveUser()" class="dropdown-item">GetMostActiveUser</a>                                                   </li>
                    </ul>
                </form>
            </div>
        </div>

        <script src="~/js/filmScripts.js"></script>
    </div>

<div class="card" id="bestActor" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Actor</h5>
        <p id="bestActorName" class="card-text"></p>
        <p id="bestActorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="topActor" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Top Rated Actor</h5>
        <p id="topActorName" class="card-text"></p>
        <p id="topActorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="bestDirector" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Director</h5>
        <p id="bestDirectorName" class="card-text"></p>
        <p id="bestDirectorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="topDirector" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Top Rated Director</h5>
        <p id="topDirectorName" class="card-text"></p>
        <p id="topDirectorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="popularGenre" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Genre</h5>
        <p id="popularGenreName" class="card-text"></p>
    </div>
</div>

<div class="card" id="topReward" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Prestigious Reward</h5>
        <p id="topRewardName" class="card-text"></p>
    </div>
</div>

<div class="card" id="activeUser" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Active User</h5>
        <p id="activeUserName" class="card-text"></p>
    </div>
</div>