
@{
    ViewData["Title"] = "Library";
}

<h2>Library</h2>
<script src="~/js/filmScripts.js"></script>
<div style="width:80%" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <form action="" method="post">
        <input type="date" class="form-control dropdown-item" id="startDate" placeholder="StartDate">
        <ul>
            <li> <a onclick="getTopActor()" class="dropdown-item">GetTopRatedActor</a>                                                      </li>
            <li> <a onclick="getBestActor()" class="dropdown-item">GetBestActor</a>                                                         </li>
            <li> <a onclick="getBestDirector()" class="dropdown-item">GetBestDirector</a>                                                   </li>
            <li> <a onclick="getTopDirector()" class="dropdown-item">GetTopRatedDiretcor</a>                                                </li>
            <li> <a name="action:GetBestFilm" class="dropdown-item">GetTopRatedFilm</a>                            </li>
            <li> <a asp-controller="Home" asp-action="GetBestFilm" class="dropdown-item">GetBestFilm</a>          </li>
            <li> <a asp-controller="Home" asp-action="GetAwardedFilm" class="dropdown-item">GetAwardedFilm</a>   </li>
            <li> <a onclick="getPopGenre()" class="dropdown-item">GetMostPopularGenre</a>                                                   </li>
            <li> <a onclick="getTopReward()" class="dropdown-item">GetTopReward</a>                                                         </li>
            <li> <a onclick="getActiveUser()" class="dropdown-item">GetMostActiveUser</a>                                                   </li>
        </ul>
    </form>
</div>

<ul>
    <li> <a onclick="getActors()" class="dropdown-item">Actors</a>                                                      </li>
    <li> <a onclick="getDirectors()" class="dropdown-item">Directors</a>                                                         </li>
    <li> <a onclick="getAwards()" class="dropdown-item">Awards</a>                                                   </li>
    <li> <a onclick="getFilms()" class="dropdown-item">Films</a>                                                   </li>
    <li> <a onclick="getUsers()" class="dropdown-item">Users</a>                                                   </li>
    <li> <a onclick="getUserFilms()" class="dropdown-item">UserFilms</a>                                                   </li>
</ul>

<table id="actors" class="table" border="1"></table>
<table id="films" class="table" border="1"></table>
<table id="Users" class="table" border="1"></table>
<table id="UserFilms" class="table" border="1"></table>
<table id="awards" class="table" border="1"></table>
<table id="directors" class="table" border="1"></table>
<script src="~/js/filmScripts.js"></script>


<div class="card" id="bestActor" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Actor</h5>
        <p id="bestActorName" class="card-text"></p>
        <p id="bestActorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="topActor" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Top Rated Actor</h5>
        <p id="topActorName" class="card-text"></p>
        <p id="topActorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="bestDirector" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Director</h5>
        <p id="bestDirectorName" class="card-text"></p>
        <p id="bestDirectorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="topDirector" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Top Rated Director</h5>
        <p id="topDirectorName" class="card-text"></p>
        <p id="topDirectorRate" class="card-text"></p>
    </div>
</div>

<div class="card" id="popularGenre" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Popular Genre</h5>
        <p id="popularGenreName" class="card-text"></p>
    </div>
</div>

<div class="card" id="topReward" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Prestigious Reward</h5>
        <p id="topRewardName" class="card-text"></p>
    </div>
</div>

<div class="card" id="activeUser" style="width: 18rem; display:none">
    <div class="card-body">
        <h5 class="card-title">Most Active User</h5>
        <p id="activeUserName" class="card-text"></p>
    </div>
</div>